


.container {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .container p {
    text-align: center;
    
  }
  
  .animate{
    position: relative;
    right: -100%;
    animation: marquee 6s linear infinite;
  }
  .animateLonger{
    position: relative;
    right: -100%;
    animation: marquee 16s linear infinite;
  }

  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); }
  }


p:nth-child(1)::-webkit-scrollbar {
    height: 5px;
}

p:nth-child(1)::-webkit-scrollbar-track {
    background: #1820347a;
}

p:nth-child(1)::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;

    height: 2px;
}

p:nth-child(1)::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);

    height: 2px;
}



.content-wheel {
    display: grid;
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.porcentajes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.porcentajes .content {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232222;
    padding: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    font-size: 1.3em;
}

circle {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    fill: none;
    stroke-width: 18px;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke-linecap: round;
}

circle:nth-child(1) {
    opacity: 0.2;
}

svg {
    border-radius: 50%;
    background-color: #192239;

}

@keyframes rellenar {
    to {
        stroke-dasharray: var(--porcentaje) 100;
    }
}

circle:nth-child(2) {
    stroke: var(--color);
    stroke-dasharray: 0 100;
    animation: rellenar 1s linear forwards;
}

.actions button {
    background: transparent;
    border: none;
    padding: 2px;
  }
  
  .actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
  }
  
  .actions img {
    width: 15px;
  }

  .container p.date {
    font-size: 0.8em;
    color: #9C9C9C;
  }
