div.mat-dialog-content{
    background: red;
}

.form-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.mdc-dialog__title {
    text-align: center!important;

}
select option{
    background-color: #182034;
    border: none;
    color: white;
}

select option:focus{
    background: #0a9e56;
    border: none;
    color: white;

}

select{
    height: 30px;
    width: 100%;
    border-radius: 10px;
}

input.success{
    border-color: #006B00;
}



::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.mat-mdc-dialog-actions {
    justify-content: space-around;
}

.button-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}