<div class="wallpaper" *ngIf="this.generate">
    <div class="slider">
        <div class="training-program" *ngFor="let item of view | Paginate: page_size: page_number">
            <div class="active-tokens">
                <p>{{item.itemEnfasis}}</p>
                <p> {{item.itemMessage}}</p>
            </div>
            <div class="description">
                <p>{{item.itemName}}</p>
                <p>Code {{item.itemCode}}</p>
                <p *ngIf="item.itemHours">{{item.itemHours}} horas estimadas</p>
                <p *ngIf="item.itemOne">{{item.itemOne}} Raps esperados</p>
                <p *ngIf="item.itemTwo">{{ item.itemTwo }}</p>
                <p *ngIf="item.itemThree">{{ item.itemThree }}</p>
                <p *ngIf="item.itemFour">{{ item.itemFour }}</p>
                <p *ngIf="item.itemFive">{{ item.itemFive }}</p>
            </div>
            <div class="actions">
                <button (click)="openModalUpdate(item.itemId)"><img src="../../../assets/icons/reload.svg"></button>
                <button (click)="deleteItem(item.itemId, item.itemName)"><img
                        src="../../../assets/icons/delete.svg"></button>
                <button (click)="viewInformation(item.itemId)"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/OOjs_UI_icon_eye-progressive.svg/20px-OOjs_UI_icon_eye-progressive.svg.png"></button>
            </div>
        </div>
    </div>
</div>
<mat-paginator *ngIf="this.generate" [length]="view.length" [pageSize]="page_size" [hidePageSize]=true
    (page)="handlePage($event)" showFirstLastButtons>
</mat-paginator>