
.actions button {
    background: transparent;
    border: none;
  }
  
  .actions {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 5px;
    top: 10px;
  }

  .description{
    overflow: hidden;
    white-space: nowrap;
    height: max-content;
  }

  .container p {
    text-align: center;
    height: max-content;
  }
  
  .animate{
    position: relative;
    right: -100%;
    animation: marquee 6s linear infinite;
  }
   
  .animateLonger{
    position: relative;
    right: -100%;
    animation: marquee 16s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); }
  }
  

  /*////////////////////////////////*/

  .slider {
    display: grid;
    max-width: 80%;
    
    grid-template-columns: repeat(auto-fit, minmax(20vw, 300px));
    grid-gap: 30px;
    grid-auto-rows: minmax(240px, 35vh);
    justify-content: center
}  



.training-program:nth-child(n){
  padding: 0px 10px;
}

.training-program{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 118px;
  gap: 8px;
  border-radius: 15px;
  background-color: #192239;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  color: white !important; 
  border: solid #203363 1px;
}


.training-program p{
  padding: 0;
  margin: 0;
}
.training-program .active-tokens{
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #006B00;
  text-align: center;
  justify-content: center;
  width: 80px;
  height: 90px;
  padding: 4px 8px;
  justify-self: center;

}

.training-program .active-tokens p:nth-child(1){
  font-size: 2.3em;
}

.training-program .active-tokens p:nth-child(2){
  line-height: 15px;
  padding-bottom: 5px ;
}

.training-program .description p:nth-child(1){
  font-weight: 800;
  font-size: 1.2em;
}


.training-program .actions button{
  background: transparent;
  border: none;
}


.actions{
  width: 8px;
  position: absolute;
  top: 0px;
  right: -5px;
  color: #ee3f3f;
}

.actions button{
    cursor: pointer;
}

.training-program .actions img{
  width: 15px;
}

.button-añadir button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006B00;
  border-radius: 10px;
  padding: 5px 8px;
  border: none;
  color: #fff;
}

.button-añadir button::before{
  content: "+";
  color: #fff;
  font-size: 22px;
  padding: 0 8px;
}

.display{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}